body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 150px;
    height: 50px;
    border-style: solid;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 3px #999;
    cursor: pointer;
}

button:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.options {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: 20px;
}

.grid-button {
    background-color: white;
}

.color-button {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

.grad-button {
    background: linear-gradient(
        90deg,
        grey,
        white
    );

}

.container {
    display: grid;
    height: 1000px;
    width: 1000px;
}

.grid-item {
    display: flex;
    border-style: solid;
    border-width: 1px;
}